includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    level: max

    checkModelProperties: true
    databaseMigrationsPath:
        - database/migrations

    paths:
        - app
        - bootstrap/app.php
        - bootstrap/providers.php
        - config
        - database
        - routes
        - tests

    stubFiles:
        - phpstan-pest.stub

    bootstrapFiles:
        - vendor/autoload.php

    excludePaths:
        - bootstrap/cache
